<h1>TESTING!!!!!!</h1>

<h1>Welcome</h1>
<h3>Newest images</h3>
<% @images.each do |image| %>
  <div class="row">
    <div class="col sm-4">
      <div class="card">
        <div class="card-block">
        <%= image_tag(image.photo) %>
        <h3>Title: <%= image.title %></h3>
        <h5>Description: <%= image.description %></h5>
        </div>
      </div>
    </div>
  </div><br>
<% end %>
